/* 写一些所有文件都用到的样式 */
/* ==========css reset,样式重置========= */
* {
    margin: 0;
    padding: 0;
}

/* 解决页面底部出现滚动条的问题 */
html {
    overflow: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
    font-size: 12px;
    /*解决所有元素特别大的问题*/
    background: #151F2B;
    font-family: Adobe Heiti Std;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    /* 继承父亲颜色 */
}



/* 在a标签或div中放一个图片时,虽然给图片设置了宽高,并且外边的容器只有它一个，但是会发现外边容器会比img标签设置的高度大一点 */
/* 因为a标签是行结合的,有一个匿名文本，匿名文本占空间，所以整体要比图片高 */
img {
    vertical-align: top;
    /* 垂直的对齐方式 */
}

/* ======公共类======= */
/* 主区域大小，水平居中 */
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.section-title {
    font-size: 0.26rem;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 1.04rem;
}

.section-title::before {
    position: absolute;
    bottom: 0.51rem;
    left: 50%;
    /* 自己左边50%，不是中心 */
    transform: translateX(-50%);
    /* X轴向左位移自身宽度的50% */
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 0.06rem;
    background: #EC6941;
    border-radius: 0.03rem;
}

.section-title.blue::before {
    background: #4194F3;
}

.sub-title {
    margin-top: 0.42rem;
    font-size: 0.2rem;
    color: #fff;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.16rem 0.37rem;
    color: #fff;
    font-size: 0.14rem;
    border-radius: 0.1rem;
    transition: 0.3s;
}

.btn.orange {
    background: rgba(228, 106, 43, 1);
}

.btn.orange:hover {
    background: rgba(228, 106, 43, 0.7);
    /* opacity: 0.7; */
}

.btn.blue {
    background: rgba(65, 148, 243, 1);
}

.btn.blue:hover {
    background: rgba(65, 148, 243, 0.7);
}

.more-box {
    margin: 0.58rem 0;
    text-align: center;
}

/* ======Header======= */
/* 因为屏幕尺寸不同设计稿的宽高放在自己屏幕上就需要自己重新计算 */
/* 运用rem比例缩放 */
/* rem长度单位 1rem=html字体大小 */

/* 1920         100(设计稿的字体大小) ==1rem
   -------   =    --------
   你的宽       你的字体大小   

*/
#header {
    /* height: 90px;这是设计稿的高度，还等于0.9rem */
    height: 0.9rem;
    position: relative;
}

/* 设计稿宽度/自己屏幕的高度   =90/X */

#header i {
    position: absolute;
    top: 0.15rem;
    left: 1.6rem;
    font-size: 50px;
    color: #EC6941;
}

#navbar ul {
    display: flex;
}

#navbar li {
    margin-left: 0.22rem;
    font-size: 0.2rem;
    font-family: Adobe Heiti Std;
    color: #fff;
    padding: 0.11rem 0.3rem;
    border-radius: 0.1rem;
    transition: .3s;
}

#navbar li.active {
    background: rgba(254, 105, 19, 1);
}

#navbar li:hover:not(.active) {
    /* background: rgba(254, 105, 19, 0.5); */
    color: rgba(254, 105, 19, 1);
}


#bottom {
    width: 19.2rem;
    height: 0.96rem;
    background: #151F2B;
    font-size: 0.14rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.96rem;
}